html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    margin: 0;
}

h1{
    text-align: center;
    margin-bottom: 15px;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(to bottom , hsl(273, 75%, 66%) , hsl(240, 73%, 65%)) no-repeat;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-card{
    background-color: white;
    width: 75%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    /* z-index: -2; */
    /* margin:100px 0 100px 0; */
    margin-top: 150px;
    margin-bottom: 150px;
}
.faq{
    padding-bottom: 50px;
}
.qna{
    border-bottom: 1px solid hsl(0, 0%, 71%);
    display: flex;
    align-items: baseline ;
    justify-content: space-between;
}
.question{
    color: hsl(237, 12%, 33%);
    margin: 20px 0;
}
.answers{
    color: hsl(240, 6%, 50%);
    margin-bottom: 20px;
    font-size: 13px;
    /* padding-right: 28px; */
    line-height: 1.5;
}
.images{
    text-align: center;
    margin-bottom: 30px;
}

.background-image{
    margin-left: 25px;
    margin-top: -100px;
}
.foreground-image{
    margin-top: -130px;
}
